# dependencies
node_modules/

# next.js build
.next/
out/
dist/

# env files
.env
.env.local
.env.*.local

# system
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# mac
*.DS_Store
public/**/.DS_Store