.specialMenu {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    .label {
        margin-bottom: 12px;
        letter-spacing: 3px;
    }

    .title {
        margin-bottom: 64px;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @media (max-width: 880px) {
        flex-direction: column;
        gap: 24px;
    }
}

.left,
.right {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 880px) {
        width: 100%;
        gap: 24px;

        h4,
        p {
            text-align: start;
        }
    }
}

.right h4,
.right p {
    text-align: end;

    @media (max-width: 880px) {
        text-align: start;
    }
}

.left h4,
.left p {
    text-align: start;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.separator {
    width: 50px;
    height: 1px;
    background-color: var(--color-accent);
    margin: 0 auto;
}

.image {
    width: 360px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 880px) {
        width: 260px;
        order: -1;
        margin-bottom: 16px;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.imageBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBanner {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 0 16px;
}

@media (max-width: 880px) {
    .specialMenu {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .label {
        font-size: 18px !important;
    }

    .title {
        font-size: 36px !important;
        margin-bottom: 24px !important;
    }

    .contentBanner {
        flex-direction: column;
        gap: 0;

        h1 {
            font-size: 36px !important;
        }
    }

    .banner {
        height: 200px;
    }
}