.specialMenu {
    padding: 80px 0;
    text-align: center;

    .label {
        margin-bottom: 12px;
        letter-spacing: 3px;
    }

    .title {
        margin-bottom: 64px;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.left,
.right {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 900px) {
        width: 100%;
        text-align: center;
        gap: 32px;

        h4,
        p {
            text-align: start;
        }
    }
}

.right h4,
.right p {
    text-align: end;
}

.left h4,
.left p {
    text-align: start;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.separator {
    width: 50px;
    height: 1px;
    background-color: var(--color-accent);
    margin: 0 auto;
}

.image {
    width: 360px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 900px) {
        width: 280px;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;

    @media (max-width: 900px) {
        height: 300px;
    }
}

.imageBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBanner {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 24px;
    padding: 0 16px;
}