.button {
    padding: var(--space-xs) var(--space-lg);
    border-radius: var(--radius-xl);
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.25s ease, filter 0.25s ease;
    color: var(--color-background);
    width: fit-content;
}

.button--primary {
    background-color: var(--color-primary);
}

.button--accent {
    background-color: var(--color-accent);
}

.button:hover {
    filter: brightness(0.9);
}