.navbar {
    width: 100%;
    background-color: var(--color-background);
    padding: 16px 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 880px) {
        padding: 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.bookButton {
    display: none;
}

@media (min-width: 880px) {
    .bookButton {
        display: flex;
        color: var(--color-primary);
        border-left: 1px solid var(--color-primary);
        padding: 8px 16px;
        text-decoration: none;
        align-items: center;
    }
}

.navLinks {
    display: none;

    button {
        background: none;
        border: none;
        color: var(--color-accent);
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -4px;
            width: 0;
            height: 1px;
            background: var(--color-accent);
            transition: width .3s ease;
        }

        &:hover::after {
            width: 50%;
        }
    }
}

@media (min-width: 880px) {
    .navLinks {
        display: flex;
        gap: 24px;
        list-style: none;
    }
}

.menuButton {
    background: none;
    border: none;
    color: var(--color-accent);
    font-size: 32px;
    cursor: pointer;
    display: block;
}

@media (min-width: 880px) {
    .menuButton {
        display: none;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: background .35s ease, opacity .35s ease;
    z-index: 1500;
    height: 100vh;
}

.overlayOpen {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
}

.sideMenu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: var(--color-background);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: right .35s ease;
    z-index: 2000;
}

.sideMenuOpen {
    right: 0;
}

.closeButton {
    background: none;
    border: none;
    color: var(--color-accent);
    font-size: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.sideNavLinks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;

    button {
        background: none;
        border: none;
        font-size: 22px;
        color: var(--color-accent);
        cursor: pointer;
        text-align: start;
        font-family: var(--font-gentium);
    }
}

.sideBook {
    color: var(--color-primary);
    font-family: var(--font-gentium);
    text-decoration: none;
    font-size: 22px;
    margin: auto 0 0;
}