.hero {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.title {
    width: 40%;
}

.lily {
    color: var(--color-accent);
    letter-spacing: 1px;
}
.action {
    display: flex;
    width: 45%;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.image {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}