.switcher {
    position: absolute;
    right: 24px;
    font-family: var(--font-gentium);
}

.dropdownButton {
    background: none;
    border: none;
    cursor: pointer;

    font-family: var(--font-gentium);
    font-size: 16px;
    color: var(--color-text);
    opacity: 0.8;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 6px;

    transition: opacity 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

.arrow {
    font-size: 12px;
    transition: transform 0.25s ease;
    margin-top: 2px;
}

.open {
    transform: rotate(180deg);
}

.dropdownMenu {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;

    display: flex;
    flex-direction: column;

    padding: 8px 0;
    background: white;
    border-radius: 6px;
    min-width: 80px;

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);

    animation: fadeDown 0.22s ease forwards;
    z-index: 50;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdownMenu button {
    background: none;
    border: none;
    text-align: left;
    padding: 8px 14px;
    font-size: 14px;
    font-family: var(--font-gentium);
    cursor: pointer;
    color: var(--color-text);
    opacity: 0.8;

    transition:
        background 0.2s ease,
        opacity 0.2s ease,
        color 0.2s ease;

    &:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.06);
    }
}

.active {
    opacity: 1;
    font-weight: 600;
}