.footer {
    background: var(--color-primary);
    color: var(--color-background);
    padding: 60px 0 40px 0;
    position: relative;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 50px;
  
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  
  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  
    padding-left: 80px;
  
    @media (max-width: 900px) {
      width: 100%;
      padding-left: 20px;
    }
  }
  
  .block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .map {
    width: 50%;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 400px;
  
    @media (max-width: 900px) {
      width: 100%;
      height: 220px;
    }
  }
  
  .center {
    margin: 24px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 8px;
  }
  
  .line {
    width: 90%;
    margin: 0 auto;
    opacity: 0.4;
    border: none;
    border-top: 1px solid var(--color-background);
  }
  
  .copy {
    text-align: center;
    margin-top: 20px;
    opacity: 0.8;
  }