.footer {
  background: var(--color-primary);
  color: var(--color-background);
  padding: 60px 0 40px 0;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 50px;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 0;
  }
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 80px;

  @media (max-width: 900px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 32px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.map {
  width: 50%;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 400px;

  @media (max-width: 900px) {
    position: relative;
    width: calc(100% + 64px);
    height: 220px;
    top: auto;
    right: auto;
    margin-top: 16px;
    margin-left: -32px;
  }
}

.center {
  margin: 24px auto 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media (max-width: 900px) {
    margin-top: 40px;
  }
}

.line {
  width: 90%;
  margin: 0 auto;
  opacity: 0.4;
  border: none;
  border-top: 1px solid var(--color-background);
}

.copy {
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}