/* Base */
.text {
    margin: 0;
}

/* Colors */
.text {
    color: var(--color-text);
}

.primary {
    color: var(--color-primary);
}

.accent {
    color: var(--color-accent);
}

.white {
    color: var(--color-background);
}