.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: 880px) {
        flex-direction: column;
        gap: 40px;

    padding-top: 40px;
    padding-bottom: 40px;
    }
}

.imageWrapper {
    flex: 1;
    max-width: 300px;

    @media (max-width: 880px) {
        display: none;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 220px;
    object-fit: cover;
    display: block;
}

.textContent {
    flex: 1;
    max-width: 520px;
}

.label {
    margin-bottom: 12px;
    letter-spacing: 4px;
    font-size: 18px;
}

.title {
    margin-bottom: 24px;
    line-height: 1.15;
    font-size: 36px !important;
}

.paragraph {
    margin-top: 12px;
    line-height: 1.55;
}